<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello PWA</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link rel="manifest" href="./mainifest.json">
  <link rel="icon" href="icon.png" type="image/png" />
  <!-- 指定桌面icon -->
  <link rel="apple-touch-icon" href="timg.png">
  <!-- 指定应用名称 -->
  <meta name="apple-mobile-web-app-title" content="PWA DEMO">
  <!-- 是否隐藏Safari地址等 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- 修改IOS状态栏颜色 -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script type="text/javascript" src="js/vue.js"></script>
  <script src="./js/ui.js"></script>
  <link rel="stylesheet" href="./css/ui.css">
</head>
<body>
  <div id="app">
    <h3>{{title}}</h3>
    <img src="test.jpg" alt="" class="test">
    <ul>
      <li v-for="(item,index) in list" :key="index">{{item.title}}</li>
    </ul>
    <ul>
      <li v-for="(item, index) in article" :key="'article'+index" v-html="item.arTitle"></li>
    </ul>
    <input type="text" placeholder="想推送什么？" v-model="msg">
    <button @click="subscribe">订阅推送</button>
  </div>
</body>
<script src="./index.js"></script>
<script>

  // 获取Notification权限
  Notification.requestPermission()
  // .then(function(result) {
  //   if(result === 'granted') {
  //     randomNotification();
  //   }
  // });
  // navigator.serviceWorker.ready.then(function (registration) {
  //   registration.pushManager.getSubscription().then(function (pushSubscription) {
  //     if (!pushSubscription) {
  //       // 用户尚未订阅
  //       return;
  //     }
  //     // 取消订阅
  //     return pushSubscription.unsubscribe();
  //   })
  //     .then(function () {
  //       console.log('取消订阅！')
  //     })
  // });
  const ua = navigator.userAgent;
  const isiOS = !!ua.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

  console.log('isiOS', isiOS);
  function subscribeUserToPush(registration, publicKey) {
    var subscribeOptions = {
      userVisibleOnly: true,
      applicationServerKey: window.urlBase64ToUint8Array(publicKey)
    };
    return registration.pushManager.subscribe(subscribeOptions).then(function (pushSubscription) {
      // console.log('Received PushSubscription: ', JSON.stringify(pushSubscription));
      return JSON.stringify(pushSubscription);
    });
  }

window.urlBase64ToUint8Array = function (base64String) {
  const padding = '='.repeat((4 - base64String.length % 4) % 4);
  const base64 = (base64String + padding)
    .replace(/\-/g, '+')
    .replace(/_/g, '/');

  const rawData = window.atob(base64);
  const outputArray = new Uint8Array(rawData.length);

  for (let i = 0; i < rawData.length; ++i) {
    outputArray[i] = rawData.charCodeAt(i);
  }
  return outputArray;
}
  // 检测浏览器是否支持SW
  if(navigator.serviceWorker != null){
    navigator.serviceWorker.register('sw.js')
    .then(function(registartion){
    //注册成功
      console.log('注册成功:',registartion.scope)
      const publicKey = 'BNe-R1-gkl19pLJmosaLGo7Gn5u4TYMJhZ_tFdvaLTOkUYQ6zGp8usYF4rCLxtw3qSsbfJY1ny_7mx25RMxiOvo';
      
      return subscribeUserToPush(registartion, publicKey);
      // registartion.pushManager.subscribe({userVisibleOnly: true}).then((subscription) => {
      //   console.log('subscription', subscription);

      //   var key = subscription.getKey('p256dh');
      //   console.log(key);
        
      //   // updateStatus(endpoint, key, 'subscribe');
      // })
    })
    .then((subscription) => {
      // var body = {subscription};
      let param = JSON.parse(subscription);
      Object.assign(param, { uniqueid: new Date().getTime() })
      // 为了方便之后的推送，为每个客户端简单生成一个标识
      // param.uniqueid = new Date().getTime();
      console.log(param);
      // param = { uniqueid:  new Date().getTime() }
      // 将生成的客户端订阅信息存储在自己的服务器上
      return sendSubscriptionToServer(JSON.stringify(param));
    }).catch(function (err){
      console.log('fail')
    });
  }

  sendSubscriptionToServer = (body) => {
    // console.log('body', body);
    return sendSubscription('https://huidoo.com.cn:8899/subscribe', body)
  }

  window.addEventListener('load', function() {
    // 当页面的控制权发生变化的时候走这里
    navigator.serviceWorker.oncontrollerchange = function() {
      ui.showTips('页面已更新');
    }
    if (!window.navigator.onLine) {
      ui.showTips('你断网了，可能数据没更新', 'warn');
    }
    window.addEventListener('online', function() {
      ui.showTips('重新连接网络，刷新加载最新数据');
    })
  });
</script>
<script>
  Vue.config.productionTip = false;
  new Vue({
    el: '#app',
    data: {
      title: 'Hello',
      list: [],
      article: [],
      msg: '',
    },
    mounted() {
      getNews().then((res) => {
        const { title, list } = res.data;
        this.title = title;
        this.list = list;
      })
      queryMessage().then((res) => {
        // console.log(res);
        this.article = res[0].data;
      })
    },
    methods: {
      subscribe() {
        // sendSubscription('http://localhost:9090/subscribe', { payload: this.msg })
        pushMsg('https://huidoo.com.cn:8899/push', { payload: this.msg }).then((res) => {
          console.log(res);
        })
      }
    }
  })
  
</script>
</html>
